<!DOCTYPE html>
<html>
<head>
	<title>Gear List | Item Details</title>
    <meta name="robots" content ="noindex,nofollow">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="wrapper">
		<h1><a href='/'>Gear List</a></h1>
		<h2>Searching for Item #{{result.id}}</h2>
		{{#if result}} 
			<ul>
				<li>Gear Id: {{result.id}}</li>
				<li>Category: {{result.category}}</li>
				<li>Make: {{result.make}}</li>
				<li>Model: {{result.model}}</li>
				<li>Serial #: {{result.serialnumber}}</li>
			</ul>
			<p><a href="/delete?id={{result.id}}">Delete</a></p>
		{{else}}
			<p>not found</p>
		{{/if}}
	</div>
</body>
</html>