html {
	background-color:#ccc;
}

div.wrapper {
	background-color: #fff;
    width:80%;
    margin:auto;
    overflow:auto;
}

div#item-list {
	float:left;
	width: 50%;
}

div#item-details {
	float:right;
	width: 50%;
}

h1 {
	text-align: center;
}

form {
	padding: 1em;
	text-align: center;
}

input[type="text"] {
	display:block;
}

h2, p {
	padding: 1em;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #777;
}